<footer class="container-fluid bg-light">
	<div class="row">
		<section class="col">colonne1</section>
		<section class="col">colonne2</section>
		<section class="col">colonne3</section>
	</div>
</footer>
