<h1> Activation de votre compte</h1>
<p>Bonjour {{ user.firstname }},</p>
<p>Votre inscription sur le site e-commerce est à valider en cliquant sur le lien ci-dessous:</p>
<p><a href="#">Activer mon compte</a></p>
<p>Attention!, ce lien experera dans 3 heures.</p>